@font-face {
  font-family: Syne Extra;
  src: url(syne-extra.otf);
}
@font-face {
  font-family: Syne Bold;
  src: url(Syne-bold.otf);
}

@font-face {
  font-family: Syne Regular;
  src: url(syne-regular.otf);
}


html{
  scroll-behavior: smooth;
}
body {
	font-family: Syne Regular;
	font-size: 20px;
	line-height: 1.2;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;

  background-color: #FD620B;
  color: #000;
  box-sizing: border-box;
}

.extra{
  font-family: 'Syne Extra', georgia, serif;
  font-weight: normal;
}

.bold{
  font-family: 'Syne Bold', georgia, serif;
  font-weight: normal;
}


canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }


  /* popup */
  .achtung {
    background-color: #f44336;
    width:600px;
    margin: auto;
  }

  .closebtn {
    margin-left: 15px;
    float: right;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }


  .intro{
    font-size: 60px;
    word-spacing: 20px;
    letter-spacing: -3px;
    line-height: 0.9;
  }

  span {
    cursor: pointer;
  }

  /* inline animation*/
  .pan, .asia, .chair{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #F69ECB;
    position:relative;
  }


  .mobility, .lisa, .internet{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #F69ECB;
    position:relative;

  }

  .asia:hover::after{
    position: absolute;
    content: url(../images/map.jpg);
    display: block;
    width:100px;
    transform: translate(500%, -60%);
  }

  .pan:hover::after{
    position: absolute;
    content: url(../images/pan.png);
    display: block;
    width:200px;
    transform: translate(140%, -30%);
  }

  .chair:hover::after{
    position: absolute;
    content: url(../images/chair.png);
    display: block;
    width:200px;
    transform: translate(470%, -80%);
  }

  .mobility:hover::before {
    position: absolute;
    width:200px;
    background-color: #F69ECB;
    padding:10px;
    border-radius: 5px;
    transform: translate(0, -100%);
    content: attr(data-tooltip);
  }


  .sketch{
    width: 400px;
  }

  .lisa:hover::after {
    position: absolute;
    content: url(../images/me2.png);
    display: block;
    transform: translate(-139%, -200%) scale(0.95);
    z-index: 1000;
  }

  .internet:hover::after {
    position: absolute;
    content: url(https://media.giphy.com/media/Ecz51X5IAD5DO/giphy.gif);
    transform: translate(10%, -40%) scale(0.5);
    z-index: 1000;
  }


  .bye{
    display: flex;
  }


  .right{
    text-align: center;
    width:400px;
  }

  .blink{
    border: dashed;
    animation:blinker 2s infinite ease-in-out;
    border-radius: 40%;
  }
  @-webkit-keyframes blinker{
    0%{     color: #5BCCC5}
    50%{   color: #F69ECB}
    100%{   color: #5BCCC5}
  }


  /* social nav*/
  .social{
    top:0;
    left:0;
    font-size:36px;
    height:100%;
    width:100px;
  }
  .social-nav{
    bottom:0%;
  }

  .v-logo{
    transform: rotate(-90deg);
    bottom:60%;
    left:-180px;
  }
  .v-logo a{
    color: #fff;
  }
  .v-logo a:hover{
    color: #000;
  }

  .social-nav a{
    color: #000;
  }
  .social-nav a:hover{
    color: #fff;
  }


  /*cursor*/
  @keyframes heartbeat{
    0% { transform: translate(-50%, -50%) scale(1);}
    50% { transform: translate(-50%, -50%) scale(1.5);}
    100% { transform: translate(-50%, -50%) scale(1);}
  }

  .eyes{
    position: absolute;
    top:0;
    left:0;
    animation: heartbeat 2s infinite;
  }

  .eye{
   background-color: #fff;
   width: 30px;
   height:30px;
   /* display: block;*/
   margin:0 5px;
   border-radius: 50%;
   position: absolute;
 }

 .eyes .eye::before{
  content:'';
  position: absolute;
  top:50%;
  left:25%;
  transform: translate(-50%, -50%);
  width: 15px;
  height:15px;
  background: #000;
  border-radius: 50%;
}


/* fold */
.holder{
  perspective: 600px;
  overflow: hidden;
}
.holder div{
  width: 100%;
  height: 800px;
  transform-origin: 50% 0;
}
.holder:nth-child(even) div {
}
.holder:nth-child(2) div {
  transform: rotateX(-100deg);
}
.holder:nth-child(3) div {
  transform: rotateX(-100deg);
}
.holder:nth-child(4) div {
  transform: rotateX(-100deg);

}
.holder:nth-child(5) div {
  transform: rotateX(-10deg);
}
.holder:nth-child(6) div {

}
.holder:nth-child(7) div {
  transform: rotateX(-10deg);
}
.holder:nth-child(8) div {
  transform: rotateX(-10deg);

}



/* how to do*/
.how-list, .why-list{
  column-count: 2;
  column-gap: 100px;
}
.how h1{
  font-size: 80px;
  line-height: 0.9;
  border-bottom: 2px solid #000;
}

.howto{
  display: block;
  padding-left:600px;
}
.dothe{
  display: block;
  padding-left:400px;
}
.as{
  display: block;
  padding-left:100px;
}
.practice{
  display: block;
  /*  padding-left:100px;*/
}
.makes{
  display: block;
  padding-left:100px;
}
.perfect{
  display: block;
  padding-left:100px;
}

/* practice */
.practice-vid{
  display: flex;
}

/*back to top*/
.scroll {
  position:fixed;
  transform: translate(-50%, -50%);
  bottom:5%;
  left:50%;
  display:none;
  z-index: 100000;

}
.scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#000;
}



@media screen and (max-width: 1260px){

  .hero{
    vertical-align: middle;
  }

  .intro{
    font-size: 40px;
    word-spacing: 10px;
    letter-spacing: 0px;
    line-height: 0.9;
  }

  .asia:hover::after{
    width:100px;
    transform: translate(50%, 10%);
  }

  .pan:hover::after{
    width:200px;
    transform: translate(110%, 0%);
  }
  .chair:hover::after{
    width:200px;
    transform: translate(0%, 0%);
  }


  .mobility:hover::before {
    transform: translate(0, -100%);
  }

  .lisa:hover::after{
    transform: translate(200%, -100%) scale(0.7);
  }

  .how h1, .why h1, .practice-vid h1{
    font-size: 44px;
  }

  .howto{
    padding-left:220px;
  }

  .dothe{
    padding-left:150px;
  }

  .as{
    padding-left:0px;
  }

  .practice-vid{
    flex-direction:column;
  }

  .makes{
    display: block;
    padding-left:100px;
  }

  .perfect{
    display: block;
    padding-left:100px;
  }


/*  .thumb{
    transform: translate(-50%, -50%) scale(0.5);
    }*/

    .sketch{
      width: 300px;
      padding-left: 100px;
    }

    video{
      transform: scale(0.7);
    }

    .v-logo{
      transform: rotate(-90deg);
      bottom:60%;
      left:-100px;
    }
  }

  @media screen and (max-width: 990px){

    .intro{
      font-size: 36px;
    }

    .how-list, .why-list{
      column-count: 1;
    }

    body{
      font-size: 14px;
    }
  }

  @media screen and (max-width: 768px){

    .sketch{
      width: 300px;
      padding-left: 0px;
    }

  }




