@font-face {
  font-family: Syne Extra;
  src: url(syne-extra.otf);
}
@font-face {
  font-family: Syne Bold;
  src: url(Syne-bold.otf);
}

@font-face {
  font-family: Syne Regular;
  src: url(syne-regular.otf);
}

body {
	font-family: 'Syne Regular';
	font-size: 20px;
	line-height: 1.2;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;

  background-color: #FF7B00;
  color: #000;
  box-sizing: border-box;
}

.extra{
  font-family: 'Syne Extra', georgia, serif;
  font-weight: normal;
}

.bold{
  font-family: 'Syne Bold', georgia, serif;
  font-weight: normal;
}

span {
  cursor: pointer;
}

.intro .wrapper{
  padding-top: 160px;
}


/* fold */
.holder{
  perspective: 600px;
  overflow: hidden;
}

.holder div {
  width: 100%;
  height: 800px;
  transform-origin: 50% 0;
}

/*hero*/
/*canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.hero-head {
  position: relative;
  font-size: 8em;
  letter-spacing: 0.3em;
  margin-bottom:0.2em;
}

.letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 0.5em;
}

.subhead{
  font-family: Syne Regular;
  font-weight: 300;
}


/* popup */
.achtung {
  background-color: #E31A0D;
  top:4%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:1000;
}

.closebtn {
  margin-left: 1.33em;
  float: right;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/*section one*/
.intro{
  font-size: 1.7em;
  word-spacing: 0.2em;
  letter-spacing: -0.05em;
  line-height: 1;
}

/* inline animation*/
.pan, .asia, .chair{
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #F69ECB;
  position:relative;
}

.mobility, .lisa, .internet{
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #F69ECB;
  position:relative;
}

.asia:hover::after{
  position: absolute;
  content: url(../images/map.jpg);
  display: block;
  width: 5em;
  transform: translate(120%, 0%);
}

.chair:hover::after{
  position: absolute;
  content: url(../images/chair.png);
  display: block;
  width: 10em;
  transform: translate(140%, -100%);
}
.pan:hover::after{
  position: absolute;
  content: url(../images/pan.png);
  display: block;
  width: 10em;
  transform: translate(50%, -30%);
}
.mobility:hover::before {
  position: absolute;
  width: 10em;
  background-color: #F69ECB;
  padding:0.5em;
  border-radius: 0.4em;
  transform: translate(0, -100%);
  content: attr(data-tooltip);
}

.sketch{
  width: 20em;
}

.lisa:hover::after {
  position: absolute;
  content: url(../images/me2.png);
  display: block;
  transform: translate(-156%, -170%);
  z-index: 1000;
}

.internet:hover::after {
  position: absolute;
  content: url(https://media.giphy.com/media/Ecz51X5IAD5DO/giphy.gif);
  transform: translate(-70%, 40%) scale(0.5);
  z-index: 1000;
}

.practice-vid, .bye{
  display: flex;
}

.right{
  text-align: center;
}

.blink{
  border: dashed;
  animation:blinker 2s infinite ease-in-out;
  border-radius: 40%;
}
@-webkit-keyframes blinker{
  0%{     color: #fff}
  50%{    color: #5BCCC5/*#F69ECB*/}
  100%{   color: #fff}
}

/* how to do*/
.how-list, .why-list{
  column-count: 2;
  column-gap: 5em;
}
.how h1{
  font-size: 3em;
  line-height: 0.9;
  border-bottom: 0.03em solid #000;
}

.howto{
  display: block;
  padding-left:8em;
}
.dothe{
  display: block;
  padding-left:5em;
}
.as{
  display: block;
  padding-left:1em
}
.practice{
  display: block;
  padding-left: 1em;
}
.makes{
  display: block;
  padding-left: 3em;
}
.perfect{
  display: block;
  padding-left: 4em;
}

/*back to top*/
.scroll {
  position:fixed;
  transform: translate(-50%, -50%);
  bottom:5%;
  left:50%;
  display:none;
  z-index: 100000;

}
.scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-0.4em;
  margin-top:-0.6em;
  height:0;
  width:0;
  border:0.4em solid transparent;
  border-bottom-color:#000;
}

/* social nav*/
.social{
  top:0;
  left:0;
  font-size: 1.8em;
  height: 100%;
  width: 5em;
}
.social-nav{
  bottom:0%;
}

.v-logo{
  transform: rotate(-90deg);
  bottom:63%;
  left:-3.9em;
}
.v-logo a{
  color: #fff;
}
.v-logo a:hover{
  color: #000;
}

.social-nav a{
  color: #000;
}
.social-nav a:hover{
  color: #fff;
}


/*cursor*/
.eyes{
  position: absolute;
  display: flex;
  top:0;
  left:0;
  z-index: 10000;
}

.eye{
  position: relative;
  background-color: #fff;
  display: inline-block;
  width: 50px;
  height:50px;
  margin:0 5px;
  border-radius: 50%;

}

.eyes .eye::before{
  content:'';
  position: absolute;
  top:50%;
  left:30%;
  transform: translate(-50%, -50%);
  width: 30px;
  height:30px;
  background: #000;
  border-radius: 50%;
}

@media screen and (max-width: 1260px){
  .hero{
    vertical-align: middle;
  }

  .hero-head {
  font-size: 8em;
  }


  .intro{
    word-spacing: 0.2em;
    line-height: 0.9;
  }

  .asia:hover::after{
    width:100px;
    transform: translate(300%, -10%);
  }

  .pan:hover::after{
    width:200px;
    transform: translate(110%, 0%);
  }
  .chair:hover::after{
    transform: translate(100%, -100%);
  }

  .mobility:hover::before {
    transform: translate(-100%, 00%);
  }

  .lisa:hover::after{
    transform: translate(200%, -100%) scale(0.7);
  }

  .how h1, .why h1, .practice-vid h1{
    font-size: 2.2em;
  }

  .howto{
    padding-left:220px;
  }

  .dothe{
    padding-left:150px;
  }

  .as{
    padding-left:0px;
  }


  .makes{
    display: block;
    padding-left:100px;
  }

  .perfect{
    display: block;
    padding-left:100px;
  }

  .sketch{
    width: 15em;
    padding-left: 5em;
  }

  .v-logo{
    transform: rotate(-90deg);
    bottom:60%;
    left:-3.7em;
  }

  .bye img{
    height:auto;
    width:400px;
  }

}

@media screen and (max-width: 990px){

  body{
    font-size: 14px;
  }

    .hero{
    padding-top: 100px;
  }

  .hero-head {
  font-size: 8em;
  }

  .intro{
    font-size: 1.6em; 
    word-spacing: 0.1em;
    letter-spacing: -0.05em;
    line-height: 1.2;
  }

  .how-list, .why-list{
    column-count: 1;
  }


}

@media screen and (max-width: 600px){
  body{
    font-size: 12px;
  }

  .holder div {
    height: auto;
  }

  .hero-head {
  font-size: 6em;
  }

  .how, .why{
        padding-top:100px;
  }
  .how h1{
    padding-bottom: 20px;
  }
  .howto{
    padding-left:150px;
  }

  .dothe{
    padding-left:100px;
  }

  .sketch{
    /*      width: 300px;*/
    padding-left: 0em;
  }

  .practice-vid{

    flex-direction:column;
  }
  .bye, .practice-vid{
    display: block
  }

  .asia:hover::after{
    width:100px;
    transform: translate(0%, -10%) scale(0.8);
  }

  .pan:hover::after{
    width:200px;
    transform: translate(0%, -30%)scale(0.8);
  }

  .chair:hover::after{
    transform: translate(0%, -100%)scale(0.7) ;
  }

  .mobility:hover::before {
    transform: translate(-68%, -100%);
  }

  .lisa, .internet{
  text-decoration:none;
  }

  .lisa:hover::after, .internet:hover::after {
    display: none;
  }

}




